# Include the license file
include LICENSE.txt

# Include the data files

include pyhadoopapi/apps/monitor/templates/*.html
include pyhadoopapi/apps/monitor/assets/css/*.css
include pyhadoopapi/apps/monitor/assets/js/*.js

include pyhadoopapi/apps/tracker/templates/*.html
include pyhadoopapi/apps/tracker/assets/css/*.css
include pyhadoopapi/apps/tracker/assets/js/*.js
