main {
   margin: 1em 1em;
}

.queue-list .level-1 {
   margin-left: 20px;
}

.queue-list .level-2 {
   margin-left: 20px;
}

.queue-list .level-3 {
   margin-left: 20px;
}

.queue-list .level-4 {
   margin-left: 20px;
}

.queue-list .level-5 {
   margin-left: 20px;
}

.cluster-info {
   display: flex;
}

.cluster-info section {
   width: 25%;
   margin-right: 1em;
   border: 1px solid rgba(29,29,29,0.5);
   padding: 0.5em 0.5em;
}

.cluster-info section h2 {
   text-align: center;
}

#queues {
   margin-top: 2em;
}

#queues a.button {
   font-size: 0.5em;
   margin-right: 0.5em;
}

#queues a.button:link, #queues a.button:visited {
   color: #1d1d1d;
}

#refresh-value {
   font-size: 0.5em;
}

#job-list {
   margin-left: 30px;
}
